Repository python-babel/babel, pull requests merged in 2022-05, with the labels that each got.

#872 Fallback count="other" format in format_currency()
  babel/numbers.py
  tests/test_numbers.py
Labels: bug, area/numbers

#869 Add support for `b` and `B` period symbols in time format
  babel/dates.py
  tests/test_dates.py
Labels: bug, feature, area/dates

#875 tests: Use bare asserts and pytest.raises
  tests/messages/test_catalog.py
  tests/messages/test_extract.py
  tests/messages/test_frontend.py
  tests/messages/test_mofile.py
  tests/messages/test_pofile.py
  tests/test_dates.py
  tests/test_localedata.py
  tests/test_numbers.py
  tests/test_support.py
  tests/test_util.py
Labels: enhancement

#876 Use email.Message for pofile header parsing
  babel/messages/catalog.py
  tests/messages/test_pofile.py
Labels: enhancement, area/messages
