Repository python-babel/babel, pull requests merged in 2022-04, with the labels that each got.

#837 Fix duplicate locations when writing without lineno
  babel/messages/pofile.py
  tests/messages/test_pofile.py
Labels: bug, size/S, area/messages

#843 Prefer setuptools imports to distutils imports
  babel/messages/frontend.py
  setup.py
  tests/messages/test_frontend.py
Labels: enhancement

#835 Gettext deprecation fixes (for Python 3.11 compatibility)
  babel/support.py
Labels: bug, area/messages

#848 Plural-Forms: Fix missing trailing semicolon
  babel/messages/catalog.py
  babel/plural.py
  tests/messages/data/project/i18n/de/LC_MESSAGES/messages.po
  tests/messages/data/project/i18n/de_DE/LC_MESSAGES/bar.po
  tests/messages/data/project/i18n/de_DE/LC_MESSAGES/foo.po
  tests/messages/data/project/i18n/de_DE/LC_MESSAGES/messages.po
  tests/messages/data/project/i18n/ru_RU/LC_MESSAGES/messages.po
  tests/messages/test_catalog.py
  tests/messages/test_checkers.py
  tests/messages/test_frontend.py
  tests/messages/test_pofile.py
  tests/test_plural.py
Labels: bug, area/messages

#826 CLDR 40
  babel/dates.py
  babel/plural.py
  scripts/download_import_cldr.py
  tests/test_dates.py
  tests/test_numbers.py
  tests/test_plural.py
  tests/test_smoke.py
Labels: enhancement, area/CLDR

#845 Fix output of --list-locales to not use bytes reprs
  babel/messages/frontend.py
  tests/messages/test_frontend.py
Labels: bug, difficulty/low

#831 Provide a way of checking if the catalogs are up-to-date
  babel/messages/catalog.py
  babel/messages/frontend.py
  tests/messages/test_frontend.py
Labels: enhancement, area/messages

#852 Deprecate get_next_timezone_transition()
  babel/dates.py
Labels: enhancement, area/dates

#853 CLDR 41
  scripts/download_import_cldr.py
  scripts/import_cldr.py
  tests/test_numbers.py
Labels: enhancement, area/CLDR
