Repository python-babel/babel, pull requests merged in 2022-10, with the labels that each got.

#912 align license with OSI template
  LICENSE
Labels: enhancement, documentation

#877 Support for hex escapes in JavaScript strings
  babel/messages/jslexer.py
  tests/messages/test_jslexer.py
Labels: bug, enhancement, area/messages

#914 Remove determining time zone via systemsetup on macOS
  babel/localtime/_unix.py
Labels: enhancement, area/dates

#842 Adapt parse_date to handle ISO dates
  babel/dates.py
Labels: enhancement, area/dates
