Repository python-babel/babel, pull requests merged in 2022-01, with the labels that each got.

#828 Fix CI, bump year to 2022
  .github/workflows/test.yml
  LICENSE
  babel/__init__.py
  babel/core.py
  babel/dates.py
  babel/lists.py
  babel/localedata.py
  babel/localtime/__init__.py
  babel/messages/__init__.py
  babel/messages/catalog.py
  babel/messages/checkers.py
  babel/messages/extract.py
  babel/messages/frontend.py
  babel/messages/jslexer.py
  babel/messages/mofile.py
  babel/messages/plurals.py
  babel/messages/pofile.py
  babel/numbers.py
  babel/plural.py
  babel/support.py
  babel/util.py
  docs/conf.py
  scripts/dump_data.py
  scripts/dump_global.py
  scripts/import_cldr.py
  tests/messages/test_catalog.py
  tests/messages/test_checkers.py
  tests/messages/test_extract.py
  tests/messages/test_frontend.py
  tests/messages/test_mofile.py
  tests/messages/test_plurals.py
  tests/messages/test_pofile.py
  tests/test_core.py
  tests/test_dates.py
  tests/test_localedata.py
  tests/test_numbers.py
  tests/test_plural.py
  tests/test_support.py
  tests/test_util.py
  tox.ini
Labels: bug, enhancement

#827 Date intervals: allow using `other` as fallback form
  babel/dates.py
  tests/test_date_intervals.py
Labels: bug, area/CLDR, size/S, area/dates

#829 parse_locale(): upper-case variant tag to match file system
  babel/core.py
  tests/test_core.py
Labels: bug, size/S

#832 Implement directory filter for extract
  babel/messages/extract.py
  babel/messages/frontend.py
  tests/messages/data/project/_hidden_by_default/hidden_file.py
  tests/messages/test_frontend.py
Labels: enhancement, size/S, area/messages

#834 Improve date/time parsing
  babel/dates.py
  tests/test_dates.py
Labels: enhancement, area/dates

#796 fix maltese plurals
  babel/messages/plurals.py
Labels: bug
