Repository python-babel/babel, pull requests merged in 2024-07, with the labels that each got.

#1077 Upgrade to CLDR 45
  babel/localedata.py
  scripts/download_import_cldr.py
  scripts/import_cldr.py
  tests/test_localedata.py
  tests/test_numbers.py
Labels: area/CLDR, feature

#1099 Support list format fallbacks
  babel/lists.py
  scripts/import_cldr.py
  tests/test_lists.py
Labels: bug, enhancement, area/CLDR

#1100 Avoid crashing on importing localtime when TZ is malformed
  babel/localtime/_helpers.py
  tests/test_localtime.py
Labels: bug, area/dates

#1101 Allow parsing .po files that have an extant but empty Language header
  babel/messages/catalog.py
  tests/messages/test_pofile.py
Labels: bug, area/messages

#1104 Allow falling back to modifier-less locale data
  babel/core.py
  tests/test_dates.py
Labels: bug, area/CLDR
