Repository python-babel/babel, pull requests merged in 2024-08, with the labels that each got.

#1113 Do not allow substituting alternates or drafts in derived locales
  scripts/download_import_cldr.py
  scripts/import_cldr.py
  tests/test_core.py
Labels: bug, area/CLDR

#1115 Two hyperlinks (to CLDR) and some typos
  docs/dev.rst
Labels: documentation

#1108 Initial support for reading mapping configuration as TOML
  babel/messages/frontend.py
  tests/messages/test_frontend.py
  tests/messages/test_toml_config.py
  tests/messages/toml-test-cases/bad.extractor.toml
  tests/messages/toml-test-cases/bad.extractors-not-a-dict.toml
  tests/messages/toml-test-cases/bad.just-a-mapping.toml
  tests/messages/toml-test-cases/bad.mapping-not-a-dict.toml
  tests/messages/toml-test-cases/bad.mappings-not-a-list.toml
  tests/messages/toml-test-cases/bad.missing-extraction-method.toml
  tests/messages/toml-test-cases/bad.multiple-mappings-not-a-list.toml
  tests/messages/toml-test-cases/bad.non-string-extraction-method.toml
  tests/messages/toml-test-cases/bad.pattern-type-2.toml
  tests/messages/toml-test-cases/bad.pattern-type.toml
  tests/messages/toml-test-cases/bad.pyproject-without-tool-babel.toml
  tests/messages/toml-test-cases/bad.standalone-with-babel-prefix.toml
Labels: enhancement, area/messages
