Repository python-babel/babel, pull requests merged in 2025-01, with the labels that each got.

#1163 Support short and narrow formats for format_timedelta when using `add_direction`
  babel/dates.py
  tests/test_dates.py
Labels: bug, enhancement, area/dates

#1172 Small test cleanup
  pyproject.toml
  tests/conftest.py
  tests/messages/test_setuptools_frontend.py
  tests/test_core.py
  tests/test_support.py
  tests/test_support_format.py
  tests/test_support_lazy_proxy.py
  tests/test_support_translations.py
Labels: enhancement

#1173 Prefer LC_MONETARY when formatting currencies
  babel/core.py
  babel/numbers.py
  tests/test_core.py
  tests/test_numbers.py
Labels: enhancement, size/S, area/numbers

#1179 Fix dates formatting `Y`, `w` and `W` symbols for week-numbering
  babel/dates.py
  tests/test_dates.py
Labels: bug, area/dates
